@model my_project.Models.teacher_table

@{
    ViewBag.Title = "edit_information1";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Portal</title>

    <link rel="stylesheet" type="text/css" href="/changing/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/changing/css/local.css" />

    <script type="text/javascript" src="/changing/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/changing/bootstrap/js/bootstrap.min.js"></script>   

      <style>

        div {
            padding-bottom:20px;
        }

    </style>
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/adminpage">Admin-Portal</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="~/Home/teachers"><i class="fa fa-bullseye"></i>Teacher  Management</a></li>
                     <li><a href="~/Home/edit_teacher_information"><i class="fa fa-tasks"></i> Back To Table </a></li> 
                   
                               
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                           
                            <li class="divider"></li>
                            <li><a href="/Home/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

       <div>
        <div class="row text-center">
            <h2>Update Profile</h2>
        </div>
           </div>


        <form action="/Home/edit_teacher_information2"  method="post" >   
        <div>
             





                  <label for="firstname" class="col-md-2">
                First Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="firstname" name="fname" value="@Model.fname" required>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>        
        <div>
            <label for="lastname" class="col-md-2" >
                Last Name:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="lastname" name="lname" value="@Model.lname" required>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="emailaddress" class="col-md-2">
                Email address:
            </label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="emailaddress" name="email" value="@Model.email" required>
                <p class="help-block">
                    Example: yourname@domain.com
                </p>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="password" class="col-md-2">
                Password:
            </label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="password" name="password" value="@Model.password" required>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
            <div>
            <label for="address" class="col-md-2">
                Address:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="add" name="add" value="@Model.address" required>
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
           

            <div>
            <label for="rollno" class="col-md-2">
                Teacher ID:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="roll" name="roll" value="@Model.teacher_id" readonly >
                
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>






        <div>
            <label for="sex" class="col-md-2">
                Gender:
            </label>
            <div class="col-md-10">
                <label class="radio">
                    <input type="radio" name="sex" id="sex" value="@Model.gender" checked>
                    Male
                </label>
                <label class="radio">
                    <input type="radio" name="sex" id="Radio1" >
                    Female
                </label>
            </div>             
        </div>
        <div>
            <label for="country" class="col-md-2">
                Country:
            </label>
            <div class="col-md-9">
                <select name="city" id="city"  class="form-control">
                    
                    <option>India</option>
                    <option>United States</option>
                    <option>Canada</option>
                    <option>United Kingdom</option>
                    <option>Others</option>
                </select>
            </div>            
        </div>
        <div>
            <label for="uploadimage" class="col-md-2">
                Upload Image:
            </label>
            <div class="col-md-10">
                <input type="file" name="uploadimage" id="uploadimage">
                <p class="help-block">
                    Allowed formats: jpeg, jpg, gif, png
                </p>
            </div>  
            
            
              
                            
        </div>
        <div>
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <label>
                    <input type="checkbox">I hereby accept the terms and conditions for using this site</label>
            </div>  
            </div>          




        
            
          
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-info">
                    Edit
                </button> 
        </div>
            </div>
             </form>   
    </div>  
    
    

</body>
</html>


