@{
    ViewBag.Title = "get_challan_form2";
}


<html>

<head>
<style type="text/css">
section{
margin:2%  0px 0px 2%
}
section{

float:left;
width:23%}
.boxed
{
border: 1px solid Black ;}

.tdesign{
border:1px solid black;}

</style>

</head>
<body>

<section>
 <b> PUNJAB COLLEGE MUZAFFARABD </b> 
 <br>  <br>
<div class="boxed">
<p style="text-align: center;">Bank Alfalah Tanga Stand <br>
National Edu.Network Pvt. Ltd. <br>
Account No.  1003285653 </p>
 


</div>
<br>
Challan No: 0038 
<br>
Name:<ins> hello </ins> <br> 
<table width="100%">
<tr> 
<td>Class:<ins> hello </ins> </td>
<td>Rollno <ins> bccsf</ins> </td>
</tr>
</table>

Fee For:<ins> hello</ins> 
<br> <br>

<table width="100%" class="tdesign"> 
<tr>
<td width="50%">Particulars </td>
<td width="25%"> Actual </td>
<td width="25%"> Receiveable </td>
</tr>




<tr>
<td> Tution Fee </td>
<td> @ViewBag.tution_fee</td>
<td> @ViewBag.tution_fee </td>
</tr>

<tr>
<td> Previous Fee </td>
<td> @ViewBag.Previous</td>
<td> @ViewBag.Previous </td>
</tr>
<tr>
<td colspan="3"> (Reason : Need Base)</td> </tr>
</table>
<table width="100%" class="tdesign"> 
<tr>
<td colspan="2"> Late Fine </td>
<td> @ViewBag.Late </td>
</tr>
<tr>
<td colspan="2">Other Fine </td>
<td> @ViewBag.Other </td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>
<td> @ViewBag.Total</td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>

<td> @ViewBag.Total</td>
</tr>
</table>

</div>
<br>

</section>

<section>
<b> PUNJAB COLLEGE MUZAFFARABD </b> 
 <br>  <br>
<div class="boxed">
<p style="text-align: center;">Bank Alfalah Tanga Stand <br>
National Edu.Network Pvt. Ltd. <br>
Account No.  1003285653 </p>
 


</div>
<br>
Challan No: 0038 
<br>
Name:<ins> hello </ins> <br> 
<table width="100%">
<tr> 
<td>Class:<ins> hello </ins> </td>
<td>Rollno <ins> bccsf</ins> </td>
</tr>
</table>

Fee For:<ins> hello</ins> 
<br> <br>

<table width="100%" class="tdesign"> 
<tr>
<td width="50%">Particulars </td>
<td width="25%"> Actual </td>
<td width="25%"> Receiveable </td>
</tr>




<tr>
<td> Tution Fee </td>
<td> @ViewBag.tution_fee</td>
<td> @ViewBag.tution_fee </td>
</tr>

<tr>
<td> Previous Fee </td>
<td> @ViewBag.Previous</td>
<td> @ViewBag.Previous </td>
</tr>
<tr>
<td colspan="3"> (Reason : Need Base)</td> </tr>
</table>
<table width="100%" class="tdesign"> 
<tr>
<td colspan="2"> Late Fine </td>
<td> @ViewBag.Late </td>
</tr>
<tr>
<td colspan="2">Other Fine </td>
<td> @ViewBag.Other </td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>
<td> @ViewBag.Total</td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>

<td> @ViewBag.Total</td>
</tr>
</table>

</div>
<br>


</section>
<section>

<b> PUNJAB COLLEGE MUZAFFARABD </b> 
 <br>  <br>
<div class="boxed">
<p style="text-align: center;">Bank Alfalah Tanga Stand <br>
National Edu.Network Pvt. Ltd. <br>
Account No.  1003285653 </p>
 


</div>
<br>
Challan No: 0038 
<br>
Name:<ins> hello </ins> <br> 
<table width="100%">
<tr> 
<td>Class:<ins> hello </ins> </td>
<td>Rollno <ins> bccsf</ins> </td>
</tr>
</table>

Fee For:<ins> hello</ins> 
<br> <br>

<table width="100%" class="tdesign"> 
<tr>
<td width="50%">Particulars </td>
<td width="25%"> Actual </td>
<td width="25%"> Receiveable </td>
</tr>




<tr>
<td> Tution Fee </td>
<td> @ViewBag.tution_fee</td>
<td> @ViewBag.tution_fee </td>
</tr>

<tr>
<td> Previous Fee </td>
<td> @ViewBag.Previous</td>
<td> @ViewBag.Previous </td>
</tr>
<tr>
<td colspan="3"> (Reason : Need Base)</td> </tr>
</table>
<table width="100%" class="tdesign"> 
<tr>
<td colspan="2"> Late Fine </td>
<td> @ViewBag.Late </td>
</tr>
<tr>
<td colspan="2">Other Fine </td>
<td> @ViewBag.Other </td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>
<td> @ViewBag.Total</td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>

<td> @ViewBag.Total</td>
</tr>
</table>

</div>
<br>

</section>

<section>
<b> PUNJAB COLLEGE MUZAFFARABD </b> 
 <br>  <br>
<div class="boxed">
<p style="text-align: center;">Bank Alfalah Tanga Stand <br>
National Edu.Network Pvt. Ltd. <br>
Account No.  1003285653 </p>
 


</div>
<br>
Challan No: 0038 
<br>
Name:<ins> hello </ins> <br> 
<table width="100%">
<tr> 
<td>Class:<ins> hello </ins> </td>
<td>Rollno <ins> bccsf</ins> </td>
</tr>
</table>

Fee For:<ins> hello</ins> 
<br> <br>

<table width="100%" class="tdesign"> 
<tr>
<td width="50%">Particulars </td>
<td width="25%"> Actual </td>
<td width="25%"> Receiveable </td>
</tr>




<tr>
<td> Tution Fee </td>
<td> @ViewBag.tution_fee</td>
<td> @ViewBag.tution_fee </td>
</tr>

<tr>
<td> Previous Fee </td>
<td> @ViewBag.Previous</td>
<td> @ViewBag.Previous </td>
</tr>
<tr>
<td colspan="3"> (Reason : Need Base)</td> </tr>
</table>
<table width="100%" class="tdesign"> 
<tr>
<td colspan="2"> Late Fine </td>
<td> @ViewBag.Late </td>
</tr>
<tr>
<td colspan="2">Other Fine </td>
<td> @ViewBag.Other </td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>
<td> @ViewBag.Total</td>
</tr>

<tr>
<td colspan="2"> Payable Within due Date </td>

<td> @ViewBag.Total</td>
</tr>
</table>

</div>
<br>

</section>

</body>

</html>

</body>
</html>









