@{
    ViewBag.Title = "get_challan_form2";
}


<html>
<body>
<table border="1" width="100%" cellpadding="1">
<tr>
 
<td>  Bank copy <br>
Habib bank Limited 1 <br>
Old Campus Branch Lahore 
</td>

<td> Bank copy <br>
Habib bank Limited 1 <br>
Old Campus Branch Lahore 
</td>


<td> Bank copy <br>
Habib bank Limited 1 <br>
Old Campus Branch Lahore 
</td>



<td>  Bank copy <br>
Habib bank Limited 1 <br>
Old Campus Branch Lahore 
</td> 


</tr> 
<tr>

<td> <ins> Dated:29-4-15 </ins> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Challan no:1234 
<br>
credit:Admission income PUCIT A/C <ins> 123456 </ins> <br>
name:<ins> Muhammad Moazzam </ins> <br>
CNIC:<ins> 35201-0821936-3</ins>
</td>


<td> Dated: <ins> 29-4-15 </ins> Challan no:1234 </ins>
<br>
credit :&nbsp; Admission income PUCIT A/C <ins> 123456 </ins> <br>
name :<ins> Muhammad Moazzam </ins> <br>
CNIC : <ins> 35201-0821936-3</ins>
</td>


<td> <ins> Dated:29-4-15 </ins> Challan no:1234</ins>
<br>
credit:Admission income PUCIT A/C <ins> 123456 </ins> <br>
name:<ins> Muhammad Moazzam </ins> <br>
CNIC:<ins> 35201-0821936-3</ins>
</td>


<td> <ins> Dated:29-4-15 </ins> Challan no:1234</ins>
<br>
credit:Admission income PUCIT A/C <ins> 123456 </ins> <br>
name:<ins> Muhammad Moazzam </ins> <br>
CNIC:<ins> 35201-0821936-3</ins>
</td>
</tr>


<tr>
<td>
Department:<ins> PUCIT </ins>
<br>
Session :<ins> summer 2015 </ins> <br>
programs:  web engg. with php <br>
</td>

<td>
Department:<ins> PUCIT </ins>
<br>
Session :<ins> summer 2015 </ins> <br>
programs:  web engg. with php <br>
</td>

<td>
Department:<ins> PUCIT </ins>
<br>
Session :<ins> summer 2015 </ins> <br>
programs: <ins> web engg. with php <br>
</td>

<td>
Department:<ins> PUCIT </ins>
<br>
Session :<ins> summer 2015 </ins> <br>
programs:  web engg. with php <br>
</td>
</tr>
    
<tr>
    <td>
<table border="1" width="100%">
<tr>
<td> discription </td>
<td> fee </td> 
</tr>
    </table>
        </td>

    <td>
<table border="1" width="100%">
<tr>
<td> discription </td>
<td> fee </td> 
</tr>
    </table>
        </td>

    <td>

<table border="1" width="100%">
<tr>
<td> discription </td>
<td> fee </td> 
</tr>
    </table>
        </td>
    <td>

<table border="1" width="100%">
<tr>
<td> discription </td>
<td> fee </td> 
</tr>
    </table>
        </td>
    </tr>


    <tr>
    <td>
<table border="1" width="100%">
<tr>
<td> discription </td>
<td> @ViewBag.tution_fee </td> 
</tr>
    </table>
        </td>

    <td>
<table border="1" width="100%">
<tr>
<td> discription </td>
<td> @ViewBag.tution_fee </td> 
</tr>
    </table>
        </td>

    <td>

<table border="1" width="100%">
<tr>
<td> discription </td>
<td> @ViewBag.tution_fee </td> 
   
</tr>
    </table>
        </td>
    <td>

<table border="1" width="100%">
<tr>
<td> Tution Fee </td>
<td> @ViewBag.tution_fee </td> 

  
</tr>
    <tr>
       <td> Previous Fee </td>
        <td>@ViewBag.Previous</td>
    </tr>

    <tr>
       <td> Late Fee Fine </td>
        <td> @ViewBag.Late </td>
    </tr>

    <tr>
       <td>Other Fine </td>
        <td> @ViewBag.fine</td>
    </tr>
   

    <tr>
       <td>Payable within due date</td>
        <td>@ViewBag.Total</td>
    </tr>
    
    <tr>
       <td>Payable after due date </td>
        <td> @ViewBag.after</td>
    </tr>
    </table>
        </td>
    </tr>

<!--
<tr>
<td>Tution Fee  <td> 
2500</td> </td>
</tr>


<tr>
<td width="70%"> Fine
 <td> 2500</td> </td>
</tr>


<tr>
<td>  Reg fee
<td> 100000 </td> </td>
</tr>

<tr>
<td>  Lab Charges
<td> 100000 </td> </td>
</tr>

<tr>
<td>  Computer Charges
<td> 100000 </td> </td>
</tr>

</table>
</td>


<td>
<table border="1">
<tr>
<td width="100%"> discription &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <td> fee </td> </td>
</tr>


<tr>
<td width="70%">Tution Fee  <td> 
2500</td> </td>
</tr>


<tr>
<td width="70%"> Fine
 <td> 2500</td> </td>
</tr>


<tr>
<td width="70%">  Reg fee
<td> 100000 </td> </td>
</tr>

<tr>
<td width="70%">  Lab Charges
<td> 100000 </td> </td>
</tr>

<tr>
<td width="70%">  Computer Charges
<td> 100000 </td> </td>
</tr>

</table>
</td>

<td>
<table border="1">
<tr>
<td width="100%"> discription &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <td> fee </td> </td>
</tr>


<tr>
<td>Tution Fee  <td> 
2500</td> </td>
</tr>


<tr>
<td> Fine
 <td> 2500</td> </td>
</tr>


<tr>
<td>  Reg fee
<td> 100000 </td> </td>
</tr>

<tr>
<td>  Lab Charges
<td> 100000 </td> </td>
</tr>

<tr>
<td>  Computer Charges
<td> 100000 </td> </td>
</tr>

</table>
</td>
<td>
<table border="1">
<tr>
<td> discription &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<td> fee </td> </td>
</tr>

<tr>
<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <td> </td> </td>
</tr>

<tr>
<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
 <td>  </td> </td>
</tr>

<tr>
<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <td> 
 </td> </td>
</tr>
</table>
</td>
    -->





</table>


</body>
</html>









